<div>
	<h1>Edit Book Record</h1>
	<p>Book Title: <u><%= @book.id %></u></p>
	<form action="/books/<%= @book.id %>/update" method="post">
		<label>
			Title: <input type="text" name="title" size="35" value="<%= @book.title %>">
		</label>
		<br>
		<label>
			Author: <input type="text" name="author" size="35" value="<%= @book.author %>">
		</label>
		<br>
		<label>
			Pages: <input type="text" name="pages" size="35" value="<%= @book.pages %>">
		</label>
		<br>
		<input type="submit" value="Save Book">
	</form>
	<form action="/books/<%= @book.id %>/destroy" method="post">
		<input type="submit" value="Destroy it instead!">
	</form>
	<br>
	<a href="/books/index">Cancel Back to Index</a>
</div>
